* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #c0b9b9;
  --base-color: #f58d06;
}

.calculator {
  width: 30%;
  display: grid;
  grid-template-columns: 1fr  1fr 1fr 1fr;
  margin: 10% auto;
}

.btn {
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-color);
  background-color: #e48304;
  padding: 7%;
  text-align: center;
}

.display-screen {
  width: 100%;
  grid-column: 1/5;
  text-align: right;
  background-color: #424141;
  padding: 3%;
  color: #fff;
}

.big {
  grid-column: 1/3;
}

.grey {
  background-color: #e3e3e3;
}
